.audio-content {
    width: 100%;
}

.aduio-post-date {
    font-family: 'Broadway-Normal';
    color: #283270;
    font-family: 18px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 5px;
}

.audio-post-content {
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    height: 60px;
    align-items: center;
}

.audio-post-header {
    font-size: 28px;
    font-family: "RadioVolna";
}

.audio-post-player audio {
    width: 400px;
    height: 40px;
}
